
body{
    align-items: center;
    text-align: center;

    background-color: rgb(199, 239, 231);
}

.heading{
    margin-top: 50px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(216, 245, 113);
    width: 100%;

}

h3{
    font-size: 20px;
    color: saddlebrown;
}
.btn {
    height: 150px;
    width: 150px;

    border-radius: 30px;
    border: 5px solid rgb(15, 15, 15);
    margin: 5px;
}

.btn:hover{
    cursor: pointer;
    box-shadow: 2px 2px 5px rgb(62, 61, 61);
    border: 5px solid black;
    
}

.container {
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
}


.red {
    background-color: rgb(242, 151, 60);
}

.green {
    background-color: rgb(9, 195, 157);
}

.blue {
    background-color: rgb(61, 111, 193);
}

.purple {
    background-color: rgb(222, 13, 187);
}

.flash{
    background-color: rgb(246, 246, 243);
}

.userFlash{
    background-color: rgb(216, 245, 113);
}

